<div class="container">
    <button class="mat_icon first">
        <img src="../../../assets/note_icons/bell.svg" alt="">
    </button>
    <button class="mat_icon">
        <img src="../../../assets/note_icons/collaborator.svg" alt="">
    </button>
    <button class="mat_icon">
        <img src="../../../assets/note_icons/color.svg" alt="">
    </button>
    <button class="mat_icon">
        <img src="../../../assets/note_icons/image.svg" alt="">
    </button>
    <button (click)="deleteNote()"class="mat_icon">
        <img src="../../../assets/note_icons/archieve.svg" alt="">
    </button>
    <button class="mat_icon">
        <img src="../../../assets/note_icons/more.svg" class="more_icon" alt="">
    </button>
    <!-- <button class="mat_icon">
        <img src="../../../assets/note_icons/undo.svg" alt="">
    </button>
    <button class="mat_icon">
        <mat-icon>redo</mat-icon>
    </button> -->
    <!-- <button class="button">
        Close
    </button> -->
</div>


