.mat_icon{
    margin: 0px 3px;
    border: none;
    background-color: white;
}
.first{
    margin-left: 0px;
}
.more_icon{
    height: 20px;
    width: 25px;
}
.button{
    position: absolute;
    /* right: 4%; */
    background: none;
    border: none;
    /* top: 70%; */
    /* margin: 0%; */
    margin-top: 4px;
    margin-left: 60px;
    font-size: 15px;
    // background-color: red;

}
.mat_card_1 {
    top: 10%;
    border: 1px solid black;
    position: absolute;
    width: 44%;
    left: 31%;
}
// .mat-card{
//     max-width: 55%;
// }

.text {
    font-size: 20px;
}

.button-icon {
    margin: 0px 10px;
    border: none;
    background-color: white;
}

.content_1 {
    top: 10%;
    border: 1px solid black;
    position: absolute;
    // width: 100%;
    left: 31%;
    height: 150px;
}
.input_field_1 {
    padding: 2px 2px;
    /* padding-bottom: 10px; */
    font-size: 15px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 92%;
}
.mat_card_2 {
    top: 10%;
    border: 1px solid black;
    position: absolute;
    width: 44%;
    left: 31%;
}
.note_pin {
    /* margin: -4px 10px; */
    border: none;
    background-color: white;
    position: absolute;
    top: 4px;
    right: 0px;
}

.container{
    width: 100%;
}