<div class="container">
    <button class="mat_icon first">
        <img src="../../../assets/note_icons/bell.svg" alt="">
    </button>
    <button class="mat_icon">
        <img src="../../../assets/note_icons/collaborator.svg" alt="">
    </button>
    <button class="mat_icon">
        <img src="../../../assets/note_icons/color.svg" alt="">
    </button>
    <button class="mat_icon">
        <img src="../../../assets/note_icons/image.svg" alt="">
    </button>
    <button class="mat_icon">
        <img src="../../../assets/note_icons/archieve.svg" alt="">
    </button>
    <button class="mat_icon">
        <img src="../../../assets/note_icons/more.svg" class="more_icon" alt="">
    </button>
    <!-- <button class="mat_icon">
        <img src="../../../assets/note_icons/undo.svg" alt="">
    </button>
    <button class="mat_icon">
        <mat-icon>redo</mat-icon>
    </button> -->
    <!-- <button class="button">
        Close
    </button> -->
</div>


<!-- <div > -->
    <!-- <divclass="take-notes-container" fxFlex="100%" fxLayoutAlign="center center">
        <mat-card class="mat_card_1" fxFlex="50%" fxLayout="row" fxLayoutAlign="space-between center">
            <div (click)="image1Click()" class="text">Take a note...</div>
            <div>
               <button class="button-icon">
                   <img src="../../../assets/take_note/tick_mark.svg" alt="">
               </button>
               <button class="button-icon">
                <img src="../../../assets/take_note/pencil.svg" alt="">
            </button>
            <button class="button-icon">
                <img src="../../../assets/take_note/image.svg" alt="">
            </button>
            </div>
        </mat-card>
    </div>  -->

<!-- </div> -->