<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="container" fxLayoutAlign="center center" fxFlexFill>
        <mat-card class="mat_card" fxFlexFill fxFlex="33%">
            <mat-card-header fxLayoutAlign="center center">
                <mat-card-title fxLayoutGap="15px" fxLayout="column">
                    <div fxLayoutAlign="center">

                        <span style="color: rgba(34, 34, 216, 0.788);">F</span>
                        <span style="color: rgba(209, 12, 22, 0.788);">u</span>
                        <span style="color: rgba(216, 143, 34, 0.788);">n</span>
                        <span style="color: rgba(34, 34, 216, 0.788);">d</span>
                        <span style="color: rgba(34, 216, 49, 0.788);">o</span>
                        <span style="color: rgba(209, 12, 22, 0.788);">o</span>

                    </div>
                    <div fxLayoutAlign="center" class="line_1">Find your password</div>
                    <div class="line_2">Enter your phone number or recovery email</div>

                </mat-card-title>
            </mat-card-header>

            <div class="form_field" fxLayout="column" fxLayoutGap="15px">

                <mat-form-field appearance="outline">
                    <mat-label>Email or phone number</mat-label>
                    <input matInput placeholder="Email or phone" formControlName="email" name="email" type="email">
                    <mat-hint>Enter valid email address or phone number</mat-hint>
                    <!-- <mat-hint style="margin-left: -10px;" *ngIf="submitted && f.email.errors">
                        <mat-hint *ngIf="f.email.errors.required" class="validation-alert">Enter valid phone number or email address</mat-hint> -->
                    <!-- </mat-hint> -->
                </mat-form-field>



                <mat-card-actions fxLayoutAlign="space-between center">
                    <a class="line create" routerLink='/registration'></a>

                    <button mat-raised-button class="mat-raised-button">Next</button>
                </mat-card-actions>
            </div>


        </mat-card>
    </div>

</form>