<div class="take-notes-container" fxFlex="100%" fxLayoutAlign="center center">
    <mat-card class="card" fxFlex="50%" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="text">Take a note...</div>
        <div>
           <button class="button-icon">
               <img src="../../../assets/take_note/tick_mark.svg" alt="">
           </button>
           <button class="button-icon">
            <img src="../../../assets/take_note/pencil.svg" alt="">
        </button>
        <button class="button-icon">
            <img src="../../../assets/take_note/image.svg" alt="">
        </button>
        </div>
    </mat-card>
</div> 
