.card{
    top: 10%;
    border: 1px solid black;
    position: absolute;
    width: 75%;
    left: 14%;
}
.mat-card{
    max-width: 55%;
}

.text{
    font-size: 20px;
}

.button-icon{
    margin: 0px 10px;
    border: none;
    background-color: white;
}