<div fxlayout="row" fxLayoutAlign="center center" fxFlexFill>
    <mat-card class="mat_card" fxFlex="27%">
        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title  fxLayoutGap="20px" fxLayout="column">
                <div fxLayoutAlign="center">

                    <span style="color: rgba(34, 34, 216, 0.788);">F</span>
                    <span style="color: rgba(209, 12, 22, 0.788);">u</span>
                    <span style="color: rgba(216, 143, 34, 0.788);">n</span>
                    <span style="color: rgba(34, 34, 216, 0.788);">d</span>
                    <span style="color: rgba(34, 216, 49, 0.788);">o</span>
                    <span style="color: rgba(209, 12, 22, 0.788);">o</span>
                    
                </div>
                <div fxLayoutAlign="center" class="line_1">Sign in</div>
                <div class="line_2">Use your Fundoo Account</div>

            </mat-card-title>
        </mat-card-header>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit" fxLayout="column" fxLayoutGap="10px" >
            <mat-form-field class="input_field" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-hint>Enter your email</mat-hint>
              </mat-form-field>
            <mat-form-field  class="input_field" appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Password" formControlName="password">
                <mat-hint>Enter your password</mat-hint>
              </mat-form-field>
              
             
            </form>
            <div fxLayoutAlign="end" class="button">
                <button mat-raised-button class="mat-raised-button" (click)="onSubmit()">Next</button>
            </div>
    </mat-card>
</div>