<div class="container" fxLayoutAlign="center center" fxFill >
    <mat-card class="mat_card" fxLayout="row"fxFlex="60%" fxLayoutGap="20px ">
        <!-- <div> -->

            <div class="one" fxFlex="100%" >
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, omnis dolores magni, ipsam non voluptate commodi magnam autem sapiente dignissimos nulla reiciendis perferendis saepe quam. Consectetur aperiam vero reprehenderit placeat obcaecati dminus!</p>
            </div>
            <!-- </div> -->
            <!-- <div> -->
            <div class="two" fxFlex="100%">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, omnis dolores magni, ipsam non voluptate commodi magnam autem sapiente dignissimos nulla reiciendis perferendis saepe quam. Consectetur aperiam vero reprehenderit placeat obcaecati dolorum nam beatae debitis?</p>
            </div>
        <!-- </div> -->
    </mat-card>
</div>