.mat_card_box {
    // height: 85vh;
    // width: 45vh;
    border: 1px solid black;
}
.email_field {
    width: 57%;
}
.image {
    height: 244px;
    width: 244px;
    position: absolute;
    top: 20%;
    right: 3%;
}
.line_1 {
    text-align: center;
    position: absolute;
    top: 60%;
    right: 8%;
    font-size: 16px;
    // padding: 10px;
    // background-color: cyan;
}
.line_2 {
    text-align: center;
    position: absolute;
    top: 63%;
    right: 12%;
    font-size: 16px;
    // padding: 10px;
    // background-color: yellow;
}
.mat-raised-button {
    background-color: #1a73e8;
    color: white;
    padding: 7px 15px;
    position: absolute;
    left: 42%;
    top: 86%;    
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #1a73e8;
}
.mat-card-title{
    margin-top: 30px;
    margin-left: 10px;
}
.register-text{
    margin-top: 15px;
    margin-left: 25px;
    font-size: 20px;
}
.username{
    margin-top: 25px;
    margin-left: 25px;
}
.input_field{
    width: 25%;
    // height: 20px;
}
.email_field{
    // margin-top: 25px;
    margin-left: 25px;
    // width: 100%;
}
.mat_email_field{
    width: 86%
}
.line{
    color: #1a73e8;
    margin-left: 25px;
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none;
}
.password_field{
    margin-left: 25px;
    margin-top: 20px;
}
.hint_2{
    margin-left: 37px;
    width: 50%;
    margin-top: -15px;
    font-size: 13px;
}
.checkbox{
    margin-top: 10px;
    margin-left: 25px;
}
// .line_3{
//     color: #1a73e8;
//     margin-left: 25px;
//     margin-top: 20px;
//     font-weight: bold;
//     text-decoration: none;
// }
.button{
    margin-bottom: 25px;
    margin-top: 20px;
}