<!-- <p>update-notes works!</p> -->
<!-- <app-icons></app-icons> -->

<div class="update_container">
    <div>
        <div> <button class="note_pin">
            <img src="../../../assets/take_note/note_pin.svg" alt="">
        </button></div> 
    </div>
    <div fxLayout="column" fxLayoutGap="30px">
        <div>
            <input class="title" type="text" [(ngModel)]="title" placeholder="Title">
        </div>
        <div>
            <input class="description" type="text" [(ngModel)]="description" placeholder="Description">
        </div>
        <app-icons></app-icons>
       <!-- <div>
           
        <app-icons class="icon"></app-icons>
       </div> -->
    </div>
    <button (click)="onNoClick()" class="close_button">Close</button>
</div>

<!-- <app-display-card></app-display-card> -->



<!-- <mat-card class="mat_card">
    <div> 
        <button class="note_pin">
            <img src="../../../assets/take_note/note_pin.svg" alt="">
        </button>
    </div>
    <mat-card-header>
        <mat-card-title> -->
          <!-- {{note.title}} angular -->
        <!-- </mat-card-title>
    </mat-card-header>
    <mat-card-content class="para"> -->
        <!-- {{note.description}} -->
        <!-- works -->
    <!-- </mat-card-content>
    <div>
        <app-icons></app-icons>
    </div>             -->
<!-- </mat-card> -->