<!-- <p>update-notes works!</p> -->
<!-- <app-icons></app-icons> -->

<div class="update_container">
    <div>
        <div> <button class="note_pin">
            <img src="../../../assets/take_note/note_pin.svg" alt="">
        </button></div> 
    </div>
    <div fxLayout="column" fxLayoutGap="30px">
        <div>
            <textarea class="title" type="text" matInput [(ngModel)]="title" placeholder="Title"></textarea>
        </div>
        <div>
            <textarea matInput class="description" type="text" [(ngModel)]="description" placeholder="Description"></textarea>
        </div>
        <app-icons></app-icons>
       <!-- <div>
           
        <app-icons class="icon"></app-icons>
       </div> -->
    </div>
    <!-- <button (click)="onNoClick()" class="close_button">Close</button> -->
    <button (click)="onUpdate()" class="close_button">Close</button>
</div>

<!-- <app-display-card></app-display-card> -->



