<!-- <h1>Say {{ message }}</h1> -->
<div class="content">

     <div fxLayout="row wrap" fxLayoutGap="10px grid">
        <!-- <div fxFlex="25%" *ngFor= "let card of cards"> -->
        <div fxFlex="300px" *ngFor= "let note of NotesArrayList">
            <mat-card class="mat_card">
                <div> 
                    <button class="note_pin">
                        <img src="../../../assets/take_note/note_pin.svg" alt="">
                    </button>
                </div>
                <mat-card-header>
                    <mat-card-title (click)="openDialog(note)">
                      {{note.title}}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content (click)="openDialog(note)" class="para">
                    {{note.description}}
                </mat-card-content>
                <div>
                    <!-- <div>{{note.id}}</div> -->
                    <app-icons [noteCard]='note' (iconstodisplay)="receiveMessageFromDeleteNote($event)"></app-icons>
                </div>            
            </mat-card>
        </div>
     </div>
    
 </div>
 