.color{
    background-color: cyan;
}
.mat_card{
    height: fit-content;
    width: 250px;
    position: relative;
    top: 35%;
    left: 10%;
}
.note_pin {
    /* margin: -4px 10px; */
    border: none;
    background-color: white;
    position: absolute;
    top: 4px;
    right: 0px;
}

.para{
    padding: 10px;
    text-align: left;
    font-size: 15px;
}