// .color{
//     background-color: cyan;
// }
// .mat_card{
//     height: fit-content;
//     width: 250px;
//     position: relative;
//     top: 35%;
//     left: 10%;
// }
// .note_pin {
//     /* margin: -4px 10px; */
//     border: none;
//     background-color: white;
//     position: absolute;
//     top: 4px;
//     right: 0px;
// }

// .para{
//     padding: 10px;
//     text-align: left;
//     font-size: 15px;
// }


.content{
    padding: 16px;
    position: absolute;
    // position: relative;
    // top: 32%;
    top: 220px;
    // left:5%;
    left:40px;
}
.note_pin {
        /* margin: -4px 10px; */
        border: none;
        background-color: transparent;
        position: absolute;
        top: 4px;
        right: 0px;
}
 .mat_card{
        height: fit-content;
        width: 250px;
        // position: relative;
        // top: 35%;
        // left: 10%;
}
.para{
    text-align: left;
    padding: 5px;
}